node_modules/
dist/
build/
server/public/
.env
server/.env
client/.env
server/uploads/*
!server/uploads/.gitkeep
.DS_Store
*.log
assets/*
static/
Inter-VariableFont_opsz,wght.ttf
Inter-Italic-VariableFont_opsz,wght.ttf
